* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:root {
    --green: #46ceac;
    --green_h: #35ba9b;
    --green_l: #61ddbc;

    --blue: #4fc0eB;
    --blue_h: #3aadd9;
    --blue_l: #66d4f1;

    --yellow: #fdcd56;
    --yellow_h: #f5b945;
    --yellow_l: #fbd277;

    --red: #eb5463;
    --red_h: #d94452;
    --red_l: #f76c82;
}

a {
    text-decoration: none;
    font-weight: 700;
    color: var(--blue);
}

a:hover {
    text-decoration: underline;
    color: var(--blue_h);
}

img {
    max-width: 100%;
}

img a {
    border: none;
}

embed,
video,
iframe,
iframe[style] {
    max-width: 100%;
    height: auto;
}

/*
    CONTAINERS
*/
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-embed {
    position: relative;
    max-width: 100%;
    height: 0;
    padding-bottom: 56%;
    overflow: hidden;
}

.container-embed embed,
.container-embed video,
.container-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

/*
    BOXSTYLES
*/
.radius {
    --radius: 4px;
    border-radius: var(--radius);
    -moz-border-radius: var(--radius);
    -webkit-border-radius: var(--radius);
}

.rounded {
    --radius: 50%;
    border-radius: var(--radius);
    -moz-border-radius: var(--radius);
    -webkit-border-radius: var(--radius);
}

.transition {
    --seconds: 0.2s;
    transition-duration: var(--seconds);
    -moz-transition-duration: var(--seconds);
    -webkit-transition-duration: var(--seconds);
}

/*
    FLEXBOX
*/
.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex .flex-1 {
    flex-basis: 100%;
}

.flex .flex-2 {
    flex-basis: calc(50% - 40px);
    margin: 20px;
}

.flex .flex-3 {
    flex-basis: calc(33.33% - 30px);
    margin: 15px;
}

.flex .flex-4 {
    flex-basis: calc(25% - 20px);
    margin: 10px;
}